<% comments.each.with_index(1) do |comment, i| %>
    <tr> 
        <td width="8%" class="comment-td">
            <%= i %>
        </td>

        <td width="15%" class="comment-td">
            <%= comment.user.name %>
        </td>

        <td width="69%" class="comment-td">
            <%= comment.body %>
        </td>

        <% if current_user.id == comment.user.id %>
            <td width="8%" class="comment-td">
                <%= form_for(comment, url: history_comment_path(comment.history.id, comment.id), 
                                html: {method: :delete}, remote: true) do |f| %>
                    <%= f.submit '削除', class:"comment-delete-btn" %>
                <% end %>
            </td>
        <% end %>
    </tr>
<% end %>