<div class="talk-show">
    <div class="room-name">
        <h3>
            <%= @entry0.name %>
            と
            <%= @entry1.name %>
            のトークルームです
        </h3>
    </div>

    <div class="room-message-container">
        <% if @messages.present? %>
            <% @messages.each do |m| %>
                <% if m.user == current_user %>
                    <div class="user-message current-user-message row">
                        <div class="current-user-content" 
                            style="width:calc(<%= m.content.length %>*20px); float:right; text-align:center; max-width:500px; padding: 5px 10px;">
                            <%= m.content %>
                        </div>
                    </div>
                <% else %>
                    <div class="user-message talk-user-message row">
                        <div class="col-md-2" style="text-align:right;">
                            <span class="talk-user-name"><%= m.user.name %></span></br>

                            <% if m.user.profile_image.attached? %>
                                <%= image_tag m.user.profile_image, size:'45x45', class:"talk-user-image" %>
                            <% else %>
                                <%= image_tag 'blank-profile-picture-973460_640.png', size:'45x45', class:"talk-user-image" %>
                            <% end %>
                        </div>
                        <div class="col-md-10" 
                            style="height:68px; line-height:68px; padding:0 8px; border: 1px solid rgba(138, 138, 138, 0.6); 
                                border-radius: 20px; width:calc(<%= m.content.length %>*20px);">
                            <%= m.content %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <h4>メッセージはまだありません</h4>
        <% end %>
    </div>

    <div class="make-message">
        <%= form_for(@message, url: talk_messages_path(@room.id)) do |f| %>
            <%= f.text_area :content, placeholder: "140字以内で入力してください", cols:"80" %>
            <%= f.submit "送信", class:"talk-button" %>
        <% end %>
    </div>
</div>