<div class="index-page">
    <div class="container">
        <% @users.each do |user| %>
            <div class="col-md-3" style="height:395px;">
                <div class="index-user">
                    <%= link_to user_histories_path(user) do %>
                        <p class="index-user-name"><%= user.name %></p>

                        <%# 画像エリア %>
                        <div class="index-user-image-container">
                            <% if user.profile_image.attached? %>
                                <%= image_tag user.profile_image, size:'150x150', class:"index-user-image" %>
                            <% else %>
                                <%= image_tag 'blank-profile-picture-973460_640.png', size:'150x150', class:"index-user-image" %>
                            <% end %>
                        </div>
                    <% end %>

                    <%# タグエリア %>
                    <% if user.part_list.present? %>
                        <div class="index-user-tags">
                            <% user.part_list.each do |tag| %>
                                <span class="index-user-tag"><%= tag %></span>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="" 
                            style="width:223px; height:121px; background-color: rgba(138, 138, 138, 0.2);">
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <%= paginate @users %>
</div>

