
<!-- 検索フォーム -->
<div class="search-form">
    
        <div class="row">
            <!-- アイコンをコメントアウト中
                <div class="search-icon">
                    <%= image_tag 'icon_150050_256.png', size:'20x20' %>
                </div>
            -->

            <div class="col-md-7" style="margin-top:8px;">
                <!-- 検索フォーム（アカウント名） -->
                <div id="names_search">
                    <%= form_tag(root_path, method: :get) do %>
                        <%= text_field_tag :search_names, '', placeholder:"アカウント名で検索", autofocus: true, class:"search-form-field" %>
                        <%= submit_tag '検索', class:"search-btn" %>
                    <% end %>
                </div>

                <!-- 検索フォーム（タグ） -->
                <div id="tags_search" class="display-none">
                    <%= form_tag(root_path, method: :get) do %>
                        <%= text_field_tag :search_tags, '', placeholder:"タグで検索", autofocus: true, class:"search-form-field" %>
                        <%= submit_tag '検索', class:"search-btn" %>
                    <% end %>
                </div>
            </div>

            <div class="col-md-4 search-radio-area radio-buttons-media" style="width:19%;">
                <div class="" style="display:inline-block; margin-left:20px;">
                    <input type="radio" name="search" value="name" checked>
                    <span style="font-size:17px; font-weight:bold;">アカウント名</span>
                </div>

                <div class="" style="display:inline-block; margin-left:10px;">
                    <input type="radio" name="search" value="tag">
                    <span style="font-size:17px; font-weight:bold;">タグ</span>
                </div>
            </div>
        </div>
</div>

<!-- 一覧 -->
<div class="index-page">
    <div class="root-users-container">
    <div class="container">
        <% @users.each do |user| %>
            <div class="col-md-3 index-media-user">
                <div class="index-user" style="height:362px;">
                    <!-- turbolinks＝無効化 -->
                    <%= link_to user_histories_path(user), data: {"turbolinks": false} do %>
                        <p class="index-user-name"><%= user.name %></p>

                    <!-- 画像エリア -->
                        <div class="index-user-image-container">
                            <% if user.profile_image.attached? %>
                                <%= image_tag user.profile_image, size:'160x160', class:"index-user-image index-media-user-image" %>
                            <% else %>
                                <%= image_tag 'blank-profile-picture-973460_640.png', size:'160x160', class:"index-user-image index-media-user-image" %>
                            <% end %>
                        </div>
                    <% end %>

                <!-- タグエリア -->
                    <div class="index-user-tags">
                        <% user.part_list.each do |tag| %>
                            <span class="index-user-tag"><%= tag %></span>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    </div>

    <div class="pagination-container">
        <%= paginate @users %>
    </div>

    <!-- 背景アニメショーン -->
    <div class="animation-area">
        <ul class="animation-circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>



<!-- search_js -->
<script type="text/javascript">
    (function() {
        $(function() {
            $('input[name="search"]').change(function() {
                var checking = $(this).val();
                
                if (checking == 'name') {
                    $('#names_search').toggleClass('display-none');
                    $('#tags_search').toggleClass('display-none');
                } else if (checking == 'tag') {
                    $('#tags_search').toggleClass('display-none');
                    $('#names_search').toggleClass('display-none');
                } else {
                    return;
                }
            });
        });
    })();
</script>

<!-- focus_js -->
<script type="text/javascript">
    (function() {
        $(function() {
            var eachUser = document.getElementsByClassName('index-user');
            for(var i=0, len=eachUser.length; i < len; i++) {
                eachUser.item(i).addEventListener('mouseover', function() {
                    this.classList.add('index-focus-user');
                });

                eachUser.item(i).addEventListener('mouseout', function() {
                    this.classList.remove('index-focus-user');
                });
            }
        });
    })();
</script>

