<div style="margin: 50px 0 250px">
    <div style="margin-bottom: 150px">
        <h3 class="text-center" style="margin-bottom: 20px;">プロフィール</h3>

        <!-- リンク -->
        <div class="user-profile-links">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <%= link_to talks_path, class:"user-profile-link" do %>
                            <%= image_tag 'icon_112180_256.png', size:'25x25' %>
                            <span>トークルーム一覧へ</span>
                        <% end %>
                    </div>

                    <div class="col-md-3">
                        <%= link_to book_marks_path, class:"user-profile-link" do %>
                            <%= image_tag 'icon_159440_256.png', size:'25x25' %>
                            <span>ブックマーク一覧へ</span>
                        <% end %>
                    </div>

                    <div class="col-md-3">
                        <%= link_to user_histories_path(current_user.id), class:"user-profile-link" do %>
                            <%= image_tag 'icon_102260_256.png', size:'25x25' %>
                            <span>自分の歴史を見る</span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <!-- プロフィール -->
        <div>
            <div class="container user-profile">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <div class="profile-text">
                            <span class="profile-label">アカウント名</span>
                            <span class="profile-value"><%= @user.name %></span>
                        </div>

                        <div class="profile-text">
                            <span class="profile-label">メールアドレス</span>
                            <span class="profile-value"><%= @user.email %></span></span>
                        </div>

                        <div class="profile-text">
                            <span class="profile-label">タグ一覧</span>
                            <div class="profile-user-tags">
                                <% @user.part_list.each do |tag| %>
                                    <span class="profile-user-tag"><%= tag %></span>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4 text-center">
                        <!-- 画像表示エリア -->
                        <% if @user.profile_image.attached? %>
                            <%= image_tag @user.profile_image, size:'200x200', class:"profile-image" %>
                        <% else %>
                            <%= image_tag 'blank-profile-picture-973460_640.png', size:'200x200', class:"profile-image" %>
                        <% end %>
                    </div>
                </div>

                <div class="profile-edit-container">
                    <!-- turbolinks無効化 -->
                    <%= link_to 'プロフィールの編集', edit_user_registration_path, data: {"turbolinks": false}, class:"profile-edit-link" %>
                </div>
            </div>
        </div>
    </div>


    <div class="warning-container">
        <p><%= link_to '会員をやめる', warning_users_path, class:"warning-text" %></p>
    </div>
</div>
