<div class="history-edit">
    <h3 class="history-header">あなたの歴史</h3>

    <div class="history-edit-form">
        <div class="container">
            <%= form_for(@history, url:user_history_path(@user.id), method: :patch) do |s| %>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <p>年齢</p>
                    </div>

                    <div class="co-md-5">
                        <%= s.number_field :age %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <p>主な出来事</p>
                    </div>

                    <div class="col-md-5">
                        <%= s.text_field :event %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <p>バロメーター</p>
                    </div>

                    <div class="col-md-5">
                        <%= s.number_field :barometer %>
                    </div>
                </div>

                <%# sub_event追加フォーム %>
                <div class="row">
                    <%= s.fields_for :sub_events do |sub| %>
                        <%= render 'sub_event_fields', f: sub %>
                    <% end %>

                    <div class="links">
                        <%= link_to_add_association '追加', s, :sub_events %>
                    </div>
                </div>

                
                <div>
                    <%= s.submit '訂正' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
