<div class="history-gallery">
    <h3 class="history-gallery-header" style="width:80%;"><%= @user.name %>さんのメモリー</h3>

    <div class="history-image-container">
        <div class="container" style="width:100%;">
            <!-- includes -->
            <% @histories.order(:age).includes({history_image_attachment: :blob}).each do |history| %>
                <% if history.history_image.attached? %>
                    <div class="col-md-3 each-history-image" style="width:23%; margin-top:55px;">
                        <span class="history-image-title" style="display:block;">
                            <%= history.event %>
                        </span>
                        <span style="font-size:13px; margin-botttom:5px; display:block;">（<%= history.age %>歳）</span>

                        <%= link_to user_history_path(@user.id, history.id) do %>
                            <%= image_tag history.history_image, size:'200x200', class:"history-image" %>
                        <% end %>
                    </div>
                <% else %>
                    <h4 style="margin:50px auto 0 !important; width:60%;">
                        <%= @user.name %>さんの歴史に結びつく画像は投稿されていません。
                    </h4>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="back-container" style="margin-bottom: 10px;">
        <%= link_to "#{@user.name}の歴史へ戻る", user_histories_path(@user.id), class:"back-text" %>
    </div>
</div>