<div class="history-index">
    <div>
        <% unless @user.id == current_user.id %>
            <% if @isRoom %>
                <%= link_to 'トークルームへ', talk_path(@roomId) %>
            <% else %>
                <%= form_for(@room, url: talks_path) do |f| %>
                    <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <%= f.submit 'トークを始める' %>
                <% end %>
            <% end %>
        <% end %>
    </div>

    <h3 class="history-header"><%= @user.name %>の歴史</h3>

    <%# 歴史一覧 %>
    <div class="user-histories">
        <div class="container">
            <% if @user.histories.any? %>
                <table class="user-history-table">
                    <% @user.histories.order(:age).each do |history| %>
                        <tr class="user-history-row">
                            <td width="8%" class="history-index-td">mark</td>
                            <td width="8%" class="history-index-td" style="font-size: 17px;"><%= history.age %>歳</td>
                            <td width="66%" class="history-index-td" style="font-size: 17px;"><%= history.event %></td>
                            <td width="11%" class="history-index-td">
                                <%= link_to 'もっとみる', user_history_path(@user.id, history.id) %>
                            </td>
                            <td width="7%" class="history-index-td" style="text-align:right;">
                                <%= link_to '訂正', edit_user_history_path(@user.id, history.id) %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% else %>
                <p class="note-history">追加ページから自分史を追加してみよう！</p>
            <% end %>
        </div>
    </div>

    <%# 歴史追加 %>
    <div class="add-history-link"> 
        <%= link_to '追加ページへ', new_user_history_path(@user.id), class:"add-history-text" %>
    </div>
</div>
