<div class="history-index">
    <% if user_signed_in? %>
        <% unless @user.id == current_user.id %>
            <div class="talk-room-button-container">
                <% if @isRoom %>
                    <div class="talk-link-div">
                        <%= link_to 'トークルームへ', talk_path(@roomId), class:"talk-link" %>
                    </div>
                <% else %>
                    <%= form_for(@room, url: talks_path) do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <div class="talk-begin-div">
                            <%= f.submit 'トークを始める', class:"talk-begin-button" %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% end %>

    <h3 class="history-header"><%= @user.name %>の歴史</h3>

    <!-- 歴史一覧 -->
    <div class="user-histories">
        <div class="">
            <% if @user.histories.any? %>
                <table class="user-history-table">
                    <% @user.histories.order(:age).each do |history| %>
                        <tr class="user-history-row">
                            <td width="8%" class="history-index-td" id="booked_count_<%= history.id %>">
                                <%= render 'book_marks/mark_count', history: history %>
                            </td>

                            <% if user_signed_in? %>
                                <td width="6%" class="history-index-td" id="book_mark_icon_<%= history.id %>">
                                    <% if current_user.book_mark?(history) %>
                                        <%= render 'book_marks/not_mark', history: history %>
                                    <% else %>
                                        <%= render 'book_marks/mark', history: history %>
                                    <% end %>
                                </td>
                            <% end %>

                            <td width="8%" class="history-index-td" style="font-size: 17px;">
                                <%= history.age %>歳
                            </td>

                            <td width="60%" class="history-index-td" style="font-size: 17px;">
                                <%= history.event %>
                            </td>

                            <!-- turbolinks無効化 -->
                            <td width="11%" class="history-index-td">
                                <%= link_to 'もっとみる', user_history_path(@user.id, history.id), data: {"turbolinks": false} %>
                            </td>

                            <td width="7%" class="history-index-td" style="text-align:right;">
                                <% if user_signed_in? %>
                                    <% if current_user.id == @user.id %>
                                        <%= link_to '訂正', edit_user_history_path(@user.id, history.id) %>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            <% else %>
                <% if current_user&.id == @user.id %>
                    <p class="note-history">追加ページから自分史を追加してみよう！</p>
                <% else %>
                    <p class="note-history">このユーザーはまだ歴史を追加していません。</p>
                <% end %>
            <% end %>
        </div>
    </div>

    <!-- 歴史追加 -->
    <% if user_signed_in? %>
        <% if current_user.id == @user.id %>
            <div class="add-history-link"> 
                <%= link_to '追加ページへ', new_user_history_path(@user.id), class:"add-history-text" %>
            </div>
        <% end %>
    <% end %>
</div>