<div class="history-show">
    <h3 class="history-header">
        <span style="font-weight:bold"><%= @history.event %></span> の詳細
    </h3>

    <% if !@history.sub_events.empty? %>
        <div class="history-detail">
            <table class="history-detail-table">
                <thead>
                    <tr class="history-detail-tr">
                        <th width="25%" class="history-detail-th">タイトル</th>
                        <th width="75%" class="history-detail-th">内容</th>
                    </tr>
                </thead>

                <tbody>
                    <% @history.sub_events.each do |sub_event| %>
                        <tr class="history-detail-tr">
                            <td width="25%" class="history-detail-td"><%= sub_event.part %></td>
                            <td width="75%" class="history-detail-td"><%= sub_event.detail %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <div class="history-show-notes">
            <h4>この歴史に関連すること・ものは登録されていません。</h4>
        </div>
    <% end %>

    <!-- コメント機能 -->
    <div class="comment-container">
        <h5 class="comment-header" id="comment_trriger">コメント欄</h5>

        <div class="comment-area" id="comment_area">
            <table width="95%" style="margin:0 auto 50px;" id="comment_table">
                <%= render 'comments/comment_table', comments: @comments %>
            </table>

            <hr>

            <% if user_signed_in? %>
                <div id="ajax_result"></div>
                <div class="comment-form">
                    <%= form_for(@comment, url: history_comments_path(@history.id), remote: true) do |f| %>
                        <%= f.text_field :body, placeholder:"35文字以内で入力してください。", size:'70' %>
                        <%= f.submit '投稿', class:"comment-form-btn" %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>



    <hr>

    <div class="back-container" style="margin-bottom: 10px;">
        <%= link_to "#{@user.name}の歴史へ", user_histories_path(@user.id), class:"back-text" %>
    </div>
</div>
