<div class="questionnaire-new">
    <h3 class="questionnaire-header">アンケート作成</h3>

    <div class="questionnaire-new-form">
        <%= form_for(@questionnaire, url: questionnaires_path) do |s| %>
            <%= render 'shared/error_messages', object: s.object %>

            <div class="row questionnaire-field">
                <h4 class="question-theme">アンケートテーマ</h4>

                <div class="questionnaire-field-value">
                    <%= s.text_field :theme, placeholder:"132文字以内で入力してください。" %>
                </div>
            </div>

            <!-- questionnaire_items追加フォーム -->
                <div class="row questionnaire-item-form">
                    <h4 style="margin-bottom: 20px;">アンケート項目</h4>
                    <span style="display:inline-block; font-size:12px; font-weight:100; color:rgba(63, 64, 64, 0.725); margin-bottom:10px;">
                        追加ボタンを押すことで、アンケート項目を複数入力できます。
                    </span>

                    <%= s.fields_for :questionnaire_items do |item| %>
                        <%= render 'questionnaire_item_fields', f: item %>
                    <% end %>

                    <div class="links">
                        <%= link_to_add_association '追加', s, :questionnaire_items %>
                    </div>
                </div>

                
                <div class="devise-button-field">
                    <%= s.submit '作成', class:"devise-button" %>
                </div>
        <% end %>
    </div>

    <div class="back-container" style="margin-bottom:10px; cursor:pointer;">
        <%= link_to "アンケート一覧へ戻る", questionnaires_path, class:"back-text" %>
    </div>
</div>
