<div class="admin-users-index">
    <h3 style="font-weight:bold;">ユーザ一覧</h3>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ユーザー名</th>
                <th>メールアドレス</th>
                <th>登録日</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
                <td>
                    <%= link_to '詳細', "/admin/users/#{user.id}" %>
                </td>
                <td>
                    <%= link_to '削除', "/admin/users/#{user.id}/warning" %>
                </td>
            </tr>
        <% end %>
    </table>
</div>