<header class="header-border">
    <div class="row" style="width:100%;">
        <h2 class="main-header-style col-md-4 col-xs-5"><%= link_to 'My Life', root_path, class:"header-font" %></h2>
        <h4 class="questionnaires-link col-md-offset-5 col-md-2 col-xs-offset-3 col-xs-3">
            <%= link_to 'アンケート', questionnaires_path %>
        </h4>
    </div>
    
    <nav>
        <ul>
            <div class="container" style="width:100%;">
                <div class="row" style="width:100%;">
                    <div class="col-md-4 text-center header-nav-div">
                        <li class="inline-li"><%= link_to 'プロフィール', users_path, class:"header-nav-link" %></li>
                    </div>
                    <div class="col-md-4 text-center header-nav-div">
                        <li class="inline-li"><%= link_to 'サイトについて', static_pages_about_path, class:"header-nav-link" %></li>
                    </div>
                    <div class="col-md-4 text-center header-nav-div">
                        <li class="inline-li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"header-nav-link" %></li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
</header>