<% unless request.path.include?("admins") %>
    <header class="header-border">
        <div class="row">
            <h2 class="main-header-style col-md-4 col-xs-5"><%= link_to 'My Life', root_path, class:"header-font" %></h2>
            <h4 class="questionnaires-link col-md-offset-5 col-md-2  col-xs-offset-4 col-xs-3">
                <%= link_to 'アンケート', questionnaires_path %>
            </h4>
        </div>
        
        <nav>
            <ul>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center header-nav-div">
                            <li class="inline-li"><%= link_to '会員登録', new_user_registration_path, class:"header-nav-link"  %></li>
                        </div>
                        <div class="col-md-4 text-center header-nav-div">
                            <li class="inline-li"><%= link_to 'サイトについて', static_pages_about_path, class:"header-nav-link"  %></li>
                        </div>
                        <div class="col-md-4 text-center header-nav-div">
                            <li class="inline-li"><%= link_to 'ログイン', new_user_session_path, class:"header-nav-link" %></li>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
<% end %>