<!DOCTYPE html>
<html>
  <head>
    <title>Mylife</title>

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% elsif user_signed_in? %>
      <%= render 'layouts/login_header' %>
    <% else %>
      <%= render 'layouts/not_login_header' %>
    <% end %>

    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, id:"flash_#{name}", class:"flash-message" if msg.is_a?(String) %>
    <%- end -%>  
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
