<!DOCTYPE html>
<html>
  <head>
    <title>Mylife</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- （一旦使わない）
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- （一旦使わない）
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" ></script>
    -->
  </head>

  <body>
  <!-- ヘッダー -->
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% elsif user_signed_in? %>
      <%= render 'layouts/login_header' %>
    <% else %>
      <%= render 'layouts/not_login_header' %>
    <% end %>

  <!-- フラッシュメッセージ -->
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, id:"flash_#{name}", class:"flash-message" if msg.is_a?(String) %>
    <%- end -%>  


  <!-- main -->
    <%= yield %>


  <!-- フッター -->
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_footer' %>
    <% else %>
      <%= render 'layouts/footer' %>
    <% end %>


  <!-- js -->
    <script type="text/javascript">
      (function() {
        $(function() {
            $(".header-nav-div").mouseover(function() {
                $(this).css({
                    'backgroundColor':'rgba(114, 195, 206, 0.2)'
                });
            });
    
            $(".header-nav-div").mouseout(function() {
                $(this).css({
                    'backgroundColor':'white'
                });
            });
        });
      })();
    </script>
  </body>
</html>
