<div class="container">
  <h2 class="devise-edit-header">プロフィール編集</h2>

  <div class="devise-edit-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row devise-edit-form">
        <div class="col-md-6">
          <div class="field devise-edit-field-div">
            <%= f.label :name, 'アカウント名', class:"devise-edit-label" %>
            <%= f.text_field :name, autofocus: true, class:"devise-edit-field" %>
          </div>

          <div class="field devise-edit-field-div">
            <%= f.label :email, class:"devise-edit-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-edit-field" %>
          </div>

          <!--
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          -->

          <% if f.object.omniauth_login_user? %>
            <span class="notes">パスワードの変更を行わない場合は、空欄のままで大丈夫です！</span>

            <div class="field devise-edit-field-div">
              <%= f.label :password, class:"devise-edit-label" %>
              <%= f.password_field :password, autocomplete: "new-password", 
                            placeholder:"半角英数6文字以上", class:"devise-edit-field" %>
            </div>

            <div class="field devise-edit-field-div">
              <%= f.label :password_confirmation, class:"devise-edit-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                                placeholder:"半角英数6文字以上", class:"devise-edit-field" %>
            </div>
          <% else %>
            <div style="margin-top:30px; padding:12px; background-color: rgba(190, 187, 187, 0.2);">
              <p>FaceBookで登録したユーザーはパスワードに関する変更は行えません。</p>
              <p><small>また、退会を行った場合はこのサイト上からアカウントは正常に削除されますが</small></p>
              <p><small>再度、FaceBookでログインを行うことで同一のアカウントが新規に作成されます。</small></p>
            </div>
          <% end %>

        </div>

        <div class="col-md-6">
          <div class="field">
            <%= f.label :profile_image, 'プロフィール画像', class:"devise-label" %>
            <%= f.file_field :profile_image, class:"user-file-field" %><br>
          </div>

          <div class="tag-field">
            <p><%= f.label :part_list, 'タグ', class:"devise-label" %></p>
            <%= text_field_tag 'user[part_list]', resource.part_list.join(','), 
                        placeholder:"タグ入力（,で区切る）", "data-role" => "tagsinput" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <% if f.object.omniauth_login_user? %>
            <div class="field current-password">
              <%= f.label :current_password, '現在のパスワードを入力', class:"devise-label" %><br />
              <%= f.password_field :current_password, autocomplete: "current-password", 
                                                placeholder:"半角英数6文字以上" %>
            </div>
          <% end %>
        </div>

          <div class="col-md-3 actions devise-edit-button-field">
            <%= f.submit "更新", class:"devise-edit-button" %>
          </div>
        </div>

    <% end %>

    <!--
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    -->
  </div>


  <div class="back-container">
    <%= link_to 'プロフィールへ戻る', users_path, class:"back-text" %>
  </div>
</div>