<div class="container">
  <div class="devise-container text-center">
    <h2 class="devise-header">会員登録</h2>

    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row devise-fields">
        <div class="field">
          <div class="col-md-3 col-md-offset-3 col-xs-4">
            <%= f.label :name, 'アカウント名', class:"devise-label" %>
          </div>
          
          <div class="col-md-5 devise-field-container col-xs-8">
            <%= f.text_field :name, autofocus: true, class:"devise-field" %>
          </div>
        </div>
      </div>

      <div class="row devise-fields">
        <div class="field">
          <div class="col-md-3 col-md-offset-3 col-xs-4">
            <%= f.label :email, class:"devise-label" %>
          </div>

          <div class="col-md-5 devise-field-container col-xs-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-field" %>
          </div>
        </div>
      </div>

      <div class="row devise-fields">
        <div class="field">
          <div class="col-md-3 col-md-offset-3 col-xs-4">
            <%= f.label :password, class:"devise-label" %>
          </div>

          <!-- 
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %>
          -->

          <div class="col-md-5 devise-field-container col-xs-8">
            <%= f.password_field :password, autocomplete: "new-password", 
                          placeholder: '半角英数6文字以上', class:"devise-field" %>
          </div>
        </div>
      </div>

      <div class="row devise-fields">
        <div class="field">
          <div class="col-md-3 col-md-offset-3 col-xs-4">
            <%= f.label :password_confirmation, class:"devise-label" %>
          </div>

          <div class="col-md-5 devise-field-container col-xs-8">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",  
                                  placeholder: '半角英数6文字以上', class:"devise-field" %>
          </div>
        </div>
      </div>

      <div class="action devise-button-field">
        <%= f.submit "登録", class:"devise-button" %>
      </div>
    
    <% end %>

    <!-- omniauth -->
    <%= render "users/shared/links" %>
    <p><small>アカウント名は15文字以下となります。</small></p>

    <hr>

    <div class="devise-guide">
      <p>すでに会員の方は</p>
      <h4><%= link_to 'ログインページへ', new_user_session_path %></h4>
    </div>
  </div>
</div>
